@keyframes fadeInOpacity {
  from {
    transform: translate3d(-50%, 0, 0);
    opacity: 1;
  }
  to {
    transform: translate3d(-50%, 500%, 0);
    opacity: 0.5;
  }
}

.List-Name {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #FFF;
  font-size: 1.5em;
  text-align: center;
}

.List-Item:hover .List-Name {
  animation: fadeInOpacity 0.5s ease;
  animation-fill-mode: forwards;
}
