@keyframes fadeOut {
  0% {
    opacity: 0
  }
  100% {
    opacity: 1
  }
}

.List-Item {
  cursor: pointer;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  animation: 2s fadeOut ease;
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.2);
}
