.List-Photo {
  width: 100%;
  max-width: 620px;
  height: 100%;
  max-height: 320px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
}